<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCxFjYMzeBoSzS9xcqmNIH-bki9BsHXrI</string>
	<key>GCM_SENDER_ID</key>
	<string>358941241125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salma.StudyPal</string>
	<key>PROJECT_ID</key>
	<string>studypal-28632</string>
	<key>STORAGE_BUCKET</key>
	<string>studypal-28632.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358941241125:ios:76af86b3a64436b6f2f4cc</string>
</dict>
</plist>